.justify-content-center {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.specific-width {
  width: 774px;
}
.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.player {
  color: black;
  font-size: 44px;
  text-decoration: none;
}
